<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.0-rtw1-20801-521-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.0.0-rtw1-20801-521-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.0.0-rtw1-20801-521-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.0.0-rtw1-20801-521-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Google" version="2.0.0-rtw1-20801-521-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.0.0-rtw1-20801-521-dev" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.3.2" targetFramework="net45" />
</packages>