@{
    ViewBag.Title = "Show Me";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>@Html.ActionLink("Forget Token", "ForgetToken")</p>

<p>@ViewBag.Me</p>